@font-face {
    font-family: 'sawarabi_minchoregular';
    src: url('../webfonts/sawarabimincho-regular-webfont.woff2') format('woff2'),
         url('../webfonts/sawarabimincho-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    font-family: 'Hiragino Mincho', 'MS Mincho';
}

#kanji_character {
    font-size: 23em;
}

.table {
    display: table;
    color: white;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
}

.row-label {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    #kanji_character {
        font-size: 12em;
    }

    .col-md-3 {
        text-align: left;
    }
}

@media only screen and (max-width: 450px) {
    #kanji_character {
        font-size: 6em;
    }

    .col-md-3 {
        text-align: left;
    }
}

a {
    color: #7abaff;
}
