<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title>Japanese Kanji</title>
</head>
<body class="container-fluid">
    <div class="row mt-3 mb-3">
        <div class="col-12 text-center">
            <h1>Japanese Kanji</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <span id="kanji_character"></span>
        </div>
        <div class="col-md-6">
            <div class="row mb-3 table">
                <div class="col-sm-12 col-md-3">
                    <span class="row-label">Meanings</span>
                </div>
                <div class="col-sm-12 col-md-9 table-cell" id="meanings">
                </div>
            </div>
            <div class="row mb-3 table">
                <div class="col-sm-12 col-md-3">
                    <span class="row-label">Kun</span>
                </div>
                <div class="col-sm-12 col-md-9 table-cell" id="kun_readings">
                </div>
            </div>
            <div class="row mb-3 table">
                <div class="col-sm-12 col-md-3">
                    <span class="row-label">On</span>
                </div>
                <div class="col-sm-12 col-md-9 table-cell" id="on_readings">
                </div>
            </div>
            <div class="row mb-3 table">
                <div class="col-sm-12 col-md-3">
                    <div class="row-label">
                        Name Readings
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 table-cell" id="name_readings">
                </div>
            </div>
            <div class="row mb-3 table">
                <div class="col-sm-12 col-md-3">
                    <span class="row-label">JLPT</span>
                </div>
                <div class="col-sm-12 col-md-9 table-cell" id="jlpt">
                </div>
            </div>
            <div class="row mb-3 table">
                <div class="col-sm-12 col-md-3">
                    <span class="row-label">Stroke Count</span>
                </div>
                <div class="col-sm-12 col-md-9 table-cell" id="stroke_count">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 offset-md-5 col-md-7 offset-lg-8 col-lg-4 mb-3">
            <form>
                <div class="input-group search-form">
                    <div class="input-group-prepend">
                        <select class="form-control" id="search_select">
                            <option value="" selected>Search by:</option>
                            <option value="kanji">Kanji</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter search term" id="search_input"
                           aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button type="button" id="search_btn" class="btn btn-primary mr-3" disabled><i class="fas fa-search"></i> Find</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 offset-md-5 col-md-7 offset-lg-8 col-lg-4 mb-3">
            <form>
                <button type="button" id="random" class="btn btn-success mr-3"><i class="fas fa-random"></i> Surprise Me!</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3 text-right">
            <small>Copyright &copy; <span id="year"></span> BJ Peter Dela Cruz. <a href="https://bjdelacruz.com" target="_blank">bjdelacruz.com</a></small>
        </div>
    </div>
    <script>
        document.getElementById('random').addEventListener('click', () => getRandomKanji());
        document.getElementById('year').textContent = new Date().getFullYear().toString();
        const searchSelect = document.getElementById('search_select');
        const searchInput = document.getElementById('search_input');
        const searchBtn = document.getElementById('search_btn');
        searchSelect.addEventListener('change', () => toggleSearchBtn());
        searchInput.addEventListener('input', () => toggleSearchBtn());
        searchBtn.addEventListener('click', () => {
            fetch('/kanji?searchBy=' + searchSelect.value + '&value=' + searchInput.value)
                .then(res => res.text())
                .then(kanji => {
                    populateFields(kanji);
                    searchInput.value = '';
                    searchBtn.setAttribute('disabled', 'true');
                });
        });
        function getRandomKanji() {
            fetch('/random-kanji')
                .then(res => res.text())
                .then(kanji => populateFields(kanji));
        }
        function getData(value) {
            return value ? value : '--';
        }
        function populateFields(kanji) {
            const kanji_json = JSON.parse(kanji);
            document.getElementById("kanji_character").innerHTML = getData(kanji_json["kanji"]);
            document.getElementById("meanings").innerHTML = getData(kanji_json["meanings"].join(', '));
            document.getElementById("kun_readings").innerHTML = getData(kanji_json["kun_readings"].join(', '));
            document.getElementById("on_readings").innerHTML = getData(kanji_json["on_readings"].join(', '));
            document.getElementById("name_readings").innerHTML = getData(kanji_json["name_readings"].join(', '));
            document.getElementById("jlpt").innerHTML = getData(kanji_json["jlpt"]);
            document.getElementById("stroke_count").innerHTML = getData(kanji_json["stroke_count"]);
        }
        function toggleSearchBtn() {
            if (searchSelect.value === '' || searchInput.value === '') {
                searchBtn.setAttribute('disabled', 'true');
            }
            else {
                searchBtn.removeAttribute('disabled');
            }
        }
        window.addEventListener('load', () => getRandomKanji());
    </script>
</body>
</html>